.fx-table {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &.is--out-border {
    border: 1px solid #ebeef5;
  }

  &.is--no-transition * {
    transition: none !important;
  }

  &.is--show-aside {
  }

  &.is--full-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 4;
  }

  .fx-table--header {
    overflow: hidden;
  }

  .fx-table--body {
    position: relative;

    .fx-aside {
      z-index: 2;
    }

    .fx-table--main {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      padding: 0 10px;
      .fx-table--toolbar {
        
      }

      .fx-table--fixedbar {
        position: absolute;
        width: 100%;
        height: auto;
        max-height: 100%;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        // background: yellowgreen;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
        overflow-y: auto;
      }

      .fx-table--table {
      }

      .fx-table--pagination {
        overflow: hidden;
        .fx-pager {
          margin: 9px 0 0 0;

          .el-pagination {
            padding: 2px 0;
            .el-select .el-input {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .fx-table--footer {
  }
}
